<template>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">Formulario</div>
                    <div class="card-body">
                        <div class="row">
                            
                            <div class="col-lg-4 mt-2">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Nombres</span>
                                    </div>
                                    <input v-model="nombre" type="text" class="form-control" aria-label="Nombres" aria-describedby="inputGroup-sizing-default">
                                </div>
                            </div>
                            <div class="col-lg-4 mt-2">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Apellidos</span>
                                    </div>
                                    <input v-model="apellidos" type="text" class="form-control" aria-label="Apellidos" aria-describedby="inputGroup-sizing-default">
                                </div>
                            </div>
                            <div class="col-lg-4 mt-2">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Edad</span>
                                    </div>
                                    <input v-model="edad" @input="soloNumeros" type="text" class="form-control" aria-label="Edad" aria-describedby="inputGroup-sizing-default">
                                </div>
                            </div>
                            <div class="col-lg-4 mt-2">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <label class="input-group-text">Profesiones</label>
                                    </div>
                                    <select class="custom-select" v-model="profesion">
                                        <option v-for="(item, key) in profesiones">{{ item }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 mt-2">
                                <button type="button" class="btn btn-success" @click="guardarDatos">Guardar</button>
                            </div>

                            

                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            
        },
        data(){
            return {
                nombre:'', 
                apellidos:'', 
                edad:'',
                profesion:'',
                profesiones:[
                    'Programador', 
                    'Mecanico', 
                    'Ingeniero', 
                    'Petrolero', 
                    'Soldador'
                ]
            }            
        },
        methods:{
            guardarDatos(){
                if(!this.nombre){
                    this.$toasted.error('- El nombre no puede estar vacio').goAway(3000);  
                    return; 
                }
                if(!this.apellidos){
                    this.$toasted.error('- Los apellidos no pueden estar vacios').goAway(3000);  
                    return;
                }
                if(!this.edad || isNaN(this.edad) || (parseInt(this.edad)<=0 || parseInt(this.edad)>100)){
                    this.$toasted.error('- La edad ingresada no es valida').goAway(3000);  
                    return;
                }
                axios.get('/../api/formulario?&nombre='+this.nombre+'&apellidos='+this.apellidos+'&edad='+this.edad).
                    then(res=>{
                        this.$toasted.success('- Los datos fueron guardados exitosamente').goAway(3000);   
                    }).catch(error=>{
                        for (const a in error.response.data.errors) {
                            this.$toasted.error(error.response.data.errors[a]).goAway(3000); 
                        }                        
                });
            },
            soloNumeros(){
                let reg = new RegExp('^[0-9]+$');
                if(!reg.test(this.edad)){
                    this.edad='';
                }
                if(parseInt(this.edad)<=0 || parseInt(this.edad)>100){
                    this.edad='';
                }
            }
        }
    }
</script>
